.CommandWindow {
  border: 5px solid black;
  position: fixed;
  top: 30px;
  left: 275px;
  background-color: black;
  color: white;
}
.CommandWindowTitle div {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 6px 5px 0;
}

.CloseOutline {
  height: 24px;
  width: 24px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../images/close-outline.png");
}

.CommandBox {
  background-color: #353535;
  padding: 6px 12px;
  height: 58px;
}

.Close {
  width: 16px;
  height: 16px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../images/close-circle-outline-gray.png");
}

.CommandLabel {
  margin: 0 6px 0 0;
  color: black;
}
.CommandBase {
  padding: 6px;
}
.CommandBase, .CommandArgument {
  margin: 0 5px 0 0;
  border-radius: 10px;
}
.CommandBase div, .CommandArgument div {
  text-align: center;
  vertical-align: middle;
}
.CommandBase .Close, .CommandBase .CommandLabel, .CommandArgument .Close, .CommandArgument .CommandLabel {
  display: inline-block;
}
.CommandArgument {
  display: none;
  border: 1px solid white;
}
.CommandArgument div {
  margin: 5px;
}

.CommandButton {
  font-size: 14px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
}
.CommandButton:hover {
  box-shadow: 0 0 0 5px #D9D9D9;
}
.CommandButton:active {
  background-color: #D9D9D9;
}
.CommandButton:disabled {
  background-color: #999;
  color: #666;
  border-color: #666;
}
.CommandButtonContainer {
  background-color: white;
  border-top: 3px solid black;
}

#Execute {
  color: red;
}
